/* resets */

button {
  border: none;
}

body {
  height: 100vh;
  position: relative;
  margin: 0;
}

/* animation */
@keyframes shake {
  10%, 90% {
    transform: translate3d(-1px, 0, 0);
  }
  
  20%, 80% {
    transform: translate3d(2px, 0, 0);
  }

  30%, 50%, 70% {
    transform: translate3d(-4px, 0, 0);
  }

  40%, 60% {
    transform: translate3d(4px, 0, 0);
  }
}

:root {
  --lg-container: 1200px;
  --gutter: 25px;
  --border-radius: 10px;

  --primary-blue: #415ca5;
  --primary-orange: #f29139;
  --black: #000;
  --white: #fff;

  --btn-md: 100px;
  --btn-round: 80px;

  --font-lg: 2rem;

  font-size: 16px;
}

html * {
   font-family: Noto Sans, Noto Sans Thai !important;
}

/* utils */
.text-center {
  text-align: center;
}

.border-rounded {
  border-radius: var(--border-radius);
}

.pt-1 {
  padding-top: var(--gutter);
}

.m-auto {
  margin: auto;
}

.color-primary {
  color: var(--primary-blue);
}

.color-secondary {
  color: var(--primary-orange);
}

.font-bold {
  font-weight: bold;
}

/* layouts */
.container {
  display: grid;
  gap: var(--gutter);

  max-width: var(--lg-container);
  margin: auto;

  padding: var(--gutter);
}

.form-group {
  display: grid;
  grid-template-rows: 1fr 0.4fr;
  gap: 0;
}

/* components */
.btn-primary {
  width: 100%;
  padding: calc(var(--gutter) / 2);
  border-radius: var(--border-radius);
  color: var(--white);
  background-color: var(--primary-blue);
}

.btn-primary:hover {
  cursor: pointer;
}

.btn-donate {
  position: absolute;
  border-radius: 50%;
  padding: 10px;
  text-align: center;
  width: var(--btn-round);
  height: var(--btn-round);
  bottom: 7%;
  right: 5%;
  font-size: var(--font-lg);
  background-color: var(--primary-orange);
  box-shadow: rgb(130, 130, 130) 0px 5px 10px;

  z-index: 2;

  transition: bottom 0.5s ease-in-out;
  transition: box-shadow 0.2s ease-in-out;

  animation: shake 0.82s cubic-bezier(.36,.07,.19,.97) both;
  animation-iteration-count: 5;
  animation-delay: 3s;
}

.btn-donate:hover {
  cursor: pointer;
  bottom: 7%;
  box-shadow: #ccc 0px 30px 10px;
  transition: bottom 0.5s ease-in-out;
}

.btn-copy {
  background-color: var(--primary-orange);
  border-radius: 0 0 var(--border-radius) var(--border-radius);
  color: var(--black);
}

.btn-copy:hover {
  cursor: pointer;
}

.subhead {
  border: 2px solid var(--primary-orange);
  text-align: center;
  border-radius: var(--border-radius);
  max-width: 800px;
  margin: auto;
  padding: calc(var(--gutter) / 2) var(--gutter);
}

.footer {
  height: 20px;
  position: absolute;
  width: 100%;
  bottom: 0;
  background-color: var(--primary-blue);
  padding: calc(var(--gutter) / 2);
  text-align: center;
}
