/* resets */

button {
  border: none;
}

body {
  position: relative;
  margin: 0;
  width: 100%;
  height: 100vh;
  background-color: #f8f7f4;
  display: grid;
  grid-template-rows: 1fr;
}

a {
  color: var(--primary-orange);
  font-weight: bold;
}

h1,
p {
  margin: 0;
}

/* animation */
@keyframes shake {
  10%,
  90% {
    transform: translate3d(-1px, 0, 0);
  }

  20%,
  80% {
    transform: translate3d(2px, 0, 0);
  }

  30%,
  50%,
  70% {
    transform: translate3d(-4px, 0, 0);
  }

  40%,
  60% {
    transform: translate3d(4px, 0, 0);
  }
}

:root {
  --lg-container: 900px;
  --gutter: 25px;
  --border-radius: 10px;

  --primary-blue: #415ca5;
  --primary-orange: #f29139;
  --black: #000;
  --white: #fff;
  --grey: #ccc;

  --btn-md: 100px;
  --btn-round: 80px;

  --font-lg: 2rem;

  font-size: 16px;
}

html * {
  font-family: Noto Sans, Noto Sans Thai !important;
}

#toast {
  position: fixed;
  margin: auto;
  top: 5px;
  width: 50px;
  left: calc(50% - 25px);
  background: rgba(0, 0, 0, 0.9);
  z-index: 1;
  visibility: none;
  justify-content: center;
  align-items: center;
  padding: calc(var(--gutter) / 2);
  border-radius: calc(var(--border-radius) / 2);
  color: var(--white);
}

.visible {
  opacity: 1;
  transition: opacity 0.1s linear;
}

.hidden {
  opacity: 0;
  transition: opacity 0.1s linear;
}

/* utils */
.text-center {
  text-align: center;
}

.border-rounded {
  border-radius: var(--border-radius);
}

.w-full {
  width: 100%;
}

.mx-auto {
  margin: 0 auto;
}

.full-gap {
  gap: var(--gutter);
}

.color-primary {
  color: var(--primary-blue);
}

.color-secondary {
  color: var(--primary-orange);
}

.color-grey {
  color: var(--grey)
}

.font-bold {
  font-weight: bold;
}

.overflow-hidden {
  overflow: hidden;
}

/* layouts */
.container {
  display: grid;

  max-width: var(--lg-container);

  padding: var(--gutter);
  grid-template-columns: 100%;
}

.form-group {
  display: grid;
  grid-template-rows: 1fr 0.4fr;
  gap: 0;
}

/* components */
.btn-primary {
  width: 100%;
  padding: calc(var(--gutter) / 2);
  border-radius: var(--border-radius);
  color: var(--white);
  background-color: var(--primary-blue);
}

.btn-primary:hover {
  cursor: pointer;
}

.btn-donate {
  position: absolute;
  border-radius: 50%;
  padding: 10px;
  text-align: center;
  width: var(--btn-round);
  height: var(--btn-round);
  bottom: 7%;
  right: 5%;
  font-size: var(--font-lg);
  background-color: var(--primary-orange);
  box-shadow: rgb(130, 130, 130) 0px 5px 10px;

  z-index: 2;

  transition: bottom 0.5s ease-in-out;
  transition: box-shadow 0.2s ease-in-out;

  animation: shake 0.82s cubic-bezier(0.36, 0.07, 0.19, 0.97) both;
  animation-iteration-count: 5;
  animation-delay: 3s;
}

.btn-donate:hover {
  cursor: pointer;
  bottom: 7%;
  box-shadow: #ccc 0px 30px 10px;
  transition: bottom 0.5s ease-in-out;
}

.btn-copy {
  background-color: var(--primary-orange);
  border-radius: 0 0 var(--border-radius) var(--border-radius);
  color: var(--white);
}

.btn-copy:hover {
  cursor: pointer;
}

.description-box {
  display: grid;
  grid-template-columns: 1fr 1fr;
}

.modal {
  display: none;
}

.modal-active {
  display: block;
  position: absolute;
  z-index: 2;
  top: 0;
}

@media screen and (min-height: 400px) {
  .modal-active {
    top: calc(50% - calc(197px / 2));
  }
}

@media screen and (min-width: 768px) and (min-height: 500px) {
  .modal-active {
    top: calc(50% - calc(375px / 2));
  }
}

.modal-background {
  display: none;
  background: rgba(0, 0, 0, 0.9);
  z-index: 1;
  width: 100%;
  height: 100vh;
  overflow: hidden;
  position: absolute;
  top: 0;
  left: 0;
}

.modal-background.active {
  display: block;
}

.modal-content {
  display: grid;
  gap: var(--gutter);
}

.subhead {
  border: 2px solid var(--primary-orange);
  text-align: center;
  border-radius: var(--border-radius);
  max-width: var(--lg-container);
  margin: auto;
  padding: calc(var(--gutter) / 2);
  background-color: #f8f7f4;
}

.main {
  align-self: start;
}

.modal-toggler-img {
  width: 100px;
  object-fit: cover;
  cursor: pointer;
}

.footer {
  height: 20px;
  width: 100%;
  background-color: var(--primary-blue);
  padding: calc(var(--gutter) / 2) 0;
  text-align: center;
  color: var(--white);
  align-self: end;
}
